/* Import the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=RocknRoll+One&display=swap');

/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background color and font to the entire page */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
}

body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background-color: #646a99;
}

/* Style the header area with a background color, text color, and padding */
header {
    background-color: #007BFF;
    color: #fff;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    border-bottom: 1px solid #ccc;
    align-items: center;
    max-width: 1000px;
    padding: 20px 0;
    justify-content: space-between;
    text-align: center;
}

/* Style the logo */
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

/* Style the navigation menu */
nav {
    text-align: right;
}

.nav ul {
    list-style: none;
    display: flex;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}


.nav a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

/* Style the main content */
main {
    padding: 20px;
    text-align: center;
}

/* Style the hero section */
.hero div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #16dfe6;
    text-align: center;
    padding: 50px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    position: relative;
    font-family: 'Arial, Helvetica, sans-serif';
    text-align: right;
}

/* Style other sections as needed */
section {
    margin: 40px 0;
}

.history-section {
    background-color: #F7F7F7;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.history-section h2 {
    font-size: 24px;
}

.history-section p {
    font-size: 16px;
}

h2 {
    font-size: 1.8rem;
    color: #106334;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.rafting-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.rafting-images img {
    max-width: 200px;
}

/* Style the footer */
footer {
    background-color: var(--primary-color);
    color: #090a0a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

footer p {
    font-size: 1rem;
    margin: 0;
}

footer a {
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: #090a0a;
}

.adventures {
    text-align: center;
}

/* Style the image gallery */
.image-gallery {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 30px;
    vertical-align: top;
}

.image-gallery figure {
    text-align: center; 
    margin: 0; 
}

.image-gallery img {
    width: 50%;  
    height: auto;
}

.image-gallery figcaption {
    margin-top: 10px;
}
