@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=RocknRoll+One&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
}

body {
    font-family: 'RocknRoll+One&display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #646a99;
}

header {
    background-color: #007BFF;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    border-bottom: 1px solid #ccc;
    align-items: center;
    max-width: 1000px;
    padding: 20px 0;
    justify-content: space-between;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav li {
    margin-right: 20px;
    flex: 1 1 100%;
    display: inline;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav a {
    color: #08da94;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.nav a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.logo {
    width: 100px;
}

main {
    padding: 20px;
}

.hero div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #16dfe6;
    text-align: center;
    padding: 50px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

article img {
    float: right;
    margin-left: 20px;
    max-width: 200px;
}

section {
    margin: 40px 0;
}

.history-section {
    background-color: #F7F7F7;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.history-section h2 {
    font-size: 24px;
}

.history-section p {
    font-size: 16px;
}

h2 {
    font-size: 1.8rem;
    color: var(--secondary-color);
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.rafting-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.rafting-images img {
    max-width: 200px;
}

footer {
    background-color: var(--primary-color);
    color: #090a0a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    font-size: 1rem;
    margin: 0;
}

footer a {
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: #090a0a;
}

.adventures {
    text-align: center;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-gallery figure {
    text-align: center; 
    margin: 0; 
}

.image-gallery img {
    width: 100%; 
    max-width: 200px; 
    height: auto;
}

.image-gallery figcaption {
    margin-top: 10px;
}

