body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #f4f4f8;
    background-color: #0b07c0;
    display: block;
    padding: 10px;
    width: 50;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #1c19d3;
    border-radius: 5px;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #1714df;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0b07c0;
    color: #f3efef;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #01030f;
}